<div class="left_nav column">
  <h6 class="title">Tasks</h6>
  <div class="row-layout row">
    <p class="text">VD Team</p>
    <igx-badge type="primary" value="11" class="badge"></igx-badge>
  </div>
  <div class="column-layout_2 column-layout_3 column">
    <p class="igx-typography__subtitle-2 title_2">LISTS</p>
    <igx-list class="list">
      <igx-list-item class="list-item">
        <h4 igxListLineTitle>General</h4>
        <igx-icon font="material" [active]="true" color="var(--igx-grays-700)" igxListAction class="icon">more_vert</igx-icon>
      </igx-list-item>
      <igx-list-item class="list-item">
        <h4 igxListLineTitle>App Builder</h4>
        <igx-icon font="material" [active]="true" color="var(--igx-grays-700)" igxListAction class="icon">more_vert</igx-icon>
      </igx-list-item>
      <igx-list-item class="list-item">
        <h4 igxListLineTitle>Indigo.Design</h4>
        <igx-icon font="material" [active]="true" color="var(--igx-grays-700)" igxListAction class="icon">more_vert</igx-icon>
      </igx-list-item>
      <igx-list-item class="list-item">
        <h4 igxListLineTitle>Marketing</h4>
        <igx-icon font="material" [active]="true" color="var(--igx-grays-700)" igxListAction class="icon">more_vert</igx-icon>
      </igx-list-item>
      <igx-list-item class="list-item">
        <h4 igxListLineTitle>Customer Portal</h4>
        <igx-icon font="material" [active]="true" color="var(--igx-grays-700)" igxListAction class="icon">more_vert</igx-icon>
      </igx-list-item>
    </igx-list>
    <button igxButton="flat" igxButtonColor="var(--igx-secondary-500)" [disabled]="false" class="button_3">
      <igx-icon>add</igx-icon>
      <span>FILTER</span>
    </button>
  </div>
  <div class="column-layout_2 column">
    <p class="igx-typography__subtitle-2 title_2">FILTERS</p>
    <igx-list class="list">
      <igx-list-item class="list-item">
        <h4 igxListLineTitle>Due this Week</h4>
        <igx-icon font="material" [active]="true" color="var(--igx-grays-500)" igxListAction class="icon">more_vert</igx-icon>
      </igx-list-item>
      <igx-list-item class="list-item">
        <h4 igxListLineTitle>Overdue</h4>
        <igx-icon font="material" [active]="true" color="var(--igx-grays-500)" igxListAction class="icon">more_vert</igx-icon>
      </igx-list-item>
    </igx-list>
    <button igxButton="flat" igxButtonColor="var(--igx-secondary-500)" [disabled]="false" class="button_3">
      <igx-icon>add</igx-icon>
      <span>FILTER</span>
    </button>
  </div>
</div>
<div class="content_section column">
  <div class="content_toolbar row">
    <h5 class="title_1">VD Team</h5>
    <button igxButton="flat" igxButtonColor="var(--igx-secondary-500)" [disabled]="false" class="user-input button_4">
      <igx-icon>list</igx-icon>
      <span>LIST</span>
    </button>
    <button igxButton="flat" igxButtonColor="var(--igx-secondary-500)" [disabled]="false" class="button_2">
      <igx-icon>calendar_view_day</igx-icon>
      <span>SECTION</span>
    </button>
    <button igxButton="flat" igxButtonColor="var(--igx-secondary-500)" [disabled]="false" class="button_2">
      <igx-icon>dns</igx-icon>
      <span>FIELDS</span>
    </button>
    <button igxButton="icon" type="icon" [disabled]="false" class="user-input">
      <igx-icon>filter_list</igx-icon>
    </button>
    <button igxButton="icon" type="icon" [disabled]="false" class="icon-button">
      <igx-icon>more_vert</igx-icon>
    </button>
  </div>
  <div class="row-layout_1 row">
    <div class="column-layout_1 column">
      <h6 class="title_3">Developer Tools</h6>
      <p class="igx-typography__subtitle-2 title_2">Release 2020.2</p>
      <igx-list class="list_1">
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar1.png" size="small" igxListThumbnail class="avatar"></igx-avatar>
          <h4 igxListLineTitle>Download any Ultimate product and take notes on the download process</h4>
          <p igxListLineSubTitle>Product download process experience</p>
          <igx-icon font="material" [active]="true" igxListAction class="icon">more_vert</igx-icon>
        </igx-list-item>
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar2.png" size="small" igxListThumbnail class="avatar"></igx-avatar>
          <h4 igxListLineTitle>Report about the downloaded ultimate products to the Marketing Team</h4>
          <p igxListLineSubTitle>Product download process experience</p>
          <igx-icon font="material" [active]="true" igxListAction class="icon">more_vert</igx-icon>
        </igx-list-item>
      </igx-list>
      <button igxButton="flat" [disabled]="false" class="button">
        <igx-icon>add</igx-icon>
        <span>task</span>
      </button>
      <h6 class="title_3">App Builder</h6>
      <p class="igx-typography__subtitle-2 title_2">September release - Sprint 1</p>
      <igx-list class="list_1">
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar3.png" size="small" igxListThumbnail class="avatar"></igx-avatar>
          <h4 igxListLineTitle>Research new sample app</h4>
          <p igxListLineSubTitle>New sample application</p>
          <igx-icon font="material" [active]="true" igxListAction class="icon">more_vert</igx-icon>
        </igx-list-item>
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar2.png" size="small" igxListThumbnail class="avatar"></igx-avatar>
          <h4 igxListLineTitle>Create visual design for new sample app</h4>
          <p igxListLineSubTitle>New sample application</p>
          <igx-icon font="material" [active]="true" igxListAction class="icon">more_vert</igx-icon>
        </igx-list-item>
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar5.png" size="small" igxListThumbnail class="avatar"></igx-avatar>
          <h4 igxListLineTitle>Implementation for new sample app</h4>
          <p igxListLineSubTitle>New sample application</p>
          <igx-icon font="material" [active]="true" igxListAction class="icon">more_vert</igx-icon>
        </igx-list-item>
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar6.png" size="small" igxListThumbnail class="avatar"></igx-avatar>
          <h4 igxListLineTitle>Tweaks in List component</h4>
          <p igxListLineSubTitle>App Builder UI Components</p>
          <igx-icon font="material" [active]="true" igxListAction class="icon">more_vert</igx-icon>
        </igx-list-item>
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar1.png" size="small" igxListThumbnail class="avatar"></igx-avatar>
          <h4 igxListLineTitle>QE of new App Builder components</h4>
          <p igxListLineSubTitle>App Builder UI Components</p>
          <igx-icon font="material" [active]="true" igxListAction class="icon">more_vert</igx-icon>
        </igx-list-item>
        <igx-list-item class="list-item">
          <igx-avatar [roundShape]="true" src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar4.png" size="small" igxListThumbnail class="avatar"></igx-avatar>
          <h4 igxListLineTitle>Implementation of Chips component</h4>
          <p igxListLineSubTitle>App Builder UI Components</p>
          <igx-icon font="material" [active]="true" igxListAction class="icon">more_vert</igx-icon>
        </igx-list-item>
      </igx-list>
      <button igxButton="flat" [disabled]="false" class="button_1">
        <igx-icon>add</igx-icon>
        <span>Task</span>
      </button>
    </div>
    <div class="column-layout column">
      <igx-calendar [weekStart]="0" [hasHeader]="true" [vertical]="false" class="calendar"></igx-calendar>
      <h6 class="title_2">Release Calendar</h6>
      <igx-list class="list_1">
        <igx-list-item class="list-item">
          <h4 igxListLineTitle>App Builder</h4>
          <p igxListLineSubTitle>Product download process experience</p>
          <igx-icon font="material" [active]="true" color="#E83180" igxListAction class="icon">check_circle</igx-icon>
        </igx-list-item>
        <igx-list-item class="list-item">
          <h4 igxListLineTitle>Ultimate Products Review</h4>
          <p igxListLineSubTitle>08.13.2020</p>
          <igx-icon font="material" [active]="true" color="#72DA67" igxListAction class="icon">error</igx-icon>
        </igx-list-item>
      </igx-list>
    </div>
  </div>
</div>
